.heart{
    background-color: rgba(0, 0, 0, 0);
}

.infor1{
    background-color: rgba(66, 23, 85, 0.5);
    border: 5px solid white;
    border-radius: 100px;
    padding: 5%;
    width: 100%;
    display: grid;
    color: aliceblue;
    font-size: x-large;
    overflow: hidden;
}

.infor1 p{
    font-size: small;
}

.list{
    display: grid;
}

.list li p{
    margin-right: 40%;
}

.anime{
    list-style: circle;
}

.anime li{
    display: grid;
}

.game{
    display: flex;
    max-width: 60%;
    overflow:scroll;
}
.game li{
    list-style: none;
    margin: 2%;
    text-align: center;
}
.game li a{
    color: black;
    text-decoration: none;
}
.game li img{
    height: 40vmin;
    transition: 0.5s;
}
.game li img:hover{
    transform: scale(110%);
}
.game::-webkit-scrollbar{
    width: 0px;
    height: 5px;
    border-radius: 5px;
}